* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #f85544;
  color: #fffdfd;
  padding: 30px;
}

#sidebar a{
  text-decoration: none;
  color: #fffdfd
}

#block0 {
  background-color: #279d9d;
  color: rgb(245, 248, 247);
  align-items: stretch;
  padding: 70px;
  text-align: center;
}
main>section>div>button {
  background-color: #1465e2;
  color: aliceblue;
  font-size: x-large;
  padding: 10px;
  border-radius: 10px;
}

h1{font-size: 300%;}

#blocks {
  display: flex;
  height: 250px;
}

#block1 {
  width: 33.33%;
  background-color: #ffcd8f;
}

#block2 {
  width: 33.33%;
  background-color: #fff2b3;
}

#block3 {
  width: 33.33%;
  background-color: #b4f5b9;
}
